<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../layout/static/styles/styles.css">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="header__wrapper container">
      <article class="header__container">
        <h2 class="header__title">Product name</h2>
        <ul class="header__list">
          <li class="header__list-item">Put on this page information about your product</li>
          <li class="header__list-item">A detailed description of your product</li>
          <li class="header__list-item">Tell us about the advantages and merits</li>
          <li class="header__list-item">Associate the page with the payment system</li>
        </ul>
      </article>
      <img src="" alt="" class="header__logo">
    </div>
  </header>
  <section class="about">
    <article class="article">
      <h2 class="about__title">Lorem ipsum dolor sit amet.</h2>
      <p class="about__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolor sunt culpa ab,
        sed totam corporis aspernatur odio provident nam. Cum provident et, amet vitae rerum, eaque nam neque facere qui
        doloremque ipsa dolorem debitis! Magni dignissimos perspiciatis in aut?</p>
    </article>
    <img src="" alt="" class="about__image">
  </section>
  <section class="products">
    <article class="prosucts__pluse">
      <div class="pluse__img"></div>
      <p class="pluse__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, voluptatibus.</p>
    </article>
    <article class="prosucts__pluse">
      <div class="pluse__img"></div>
      <p class="pluse__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, tempora!</p>
    </article>
    <article class="prosucts__pluse">
      <div class="pluse__img"></div>
      <p class="pluse__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, tempora!</p>
    </article>
    <article class="prosucts__pluse">
      <div class="pluse__img"></div>
      <p class="pluse__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, tempora!</p>
    </article>
    <article class="prosucts__pluse">
      <div class="pluse__img"></div>
      <p class="pluse__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, tempora!</p>
    </article>
    <article class="prosucts__pluse">
      <div class="pluse__img"></div>
      <p class="pluse__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, tempora!</p>
    </article>
  </section>
  <section class="screenshots">
    <figure class="screenshots__figure">
      <figurecaption>
        <h4 class="figure__title">Lorem ipsum dolor sit amet.</h4>
        <p class="figure__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium nesciunt est
          fuga quam vel fugit perferendis expedita voluptatum ut ab.</p>
      </figurecaption>
    </figure>
    <figure class="screenshots__figure">
      <figurecaption>
        <h4 class="figure__title">Lorem ipsum dolor sit amet.</h4>
        <p class="figure__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium nesciunt est
          fuga quam vel fugit perferendis expedita voluptatum ut ab.</p>
      </figurecaption>
    </figure>
    <figure class="screenshots__figure">
      <figurecaption>
        <h4 class="figure__title">Lorem ipsum dolor sit amet.</h4>
        <p class="figure__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium nesciunt est
          fuga quam vel fugit perferendis expedita voluptatum ut ab.</p>
      </figurecaption>
    </figure>
    <figure class="screenshots__figure">
      <figurecaption>
        <h4 class="figure__title">Lorem ipsum dolor sit amet.</h4>
        <p class="figure__content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium nesciunt est
          fuga quam vel fugit perferendis expedita voluptatum ut ab.</p>
      </figurecaption>
    </figure>
  </section>
  <section class="reviews">
    <article class="reviews__message">
      <img src="" alt="" class="message__img">
      <p class="message__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla repudiandae
        ipsam doloribus. Animi, nobis quia. Reprehenderit reiciendis voluptas repellendus.</p>
    </article>
    <article class="reviews__message">
      <img src="" alt="" class="message__img">
      <p class="message__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla repudiandae
        ipsam doloribus. Animi, nobis quia. Reprehenderit reiciendis voluptas repellendus.</p>
    </article>
    <article class="reviews__message">
      <img src="" alt="" class="message__img">
      <p class="message__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla repudiandae
        ipsam doloribus. Animi, nobis quia. Reprehenderit reiciendis voluptas repellendus.</p>
    </article>
    <article class="reviews__message">
      <img src="" alt="" class="message__img">
      <p class="message__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla repudiandae
        ipsam doloribus. Animi, nobis quia. Reprehenderit reiciendis voluptas repellendus.</p>
    </article>
  </section>
  <section class="prices">
    <div class="prices__box"></div>
    <div class="prices__box"></div>
    <div class="prices__box"></div>
  </section>

  <footer class="footer">
    <h2 class="footer__title">Lorem ipsum dolor sit amet.</h2>
    <form action="" class="footer__form">
      <input type="text" class="form__input">
      <input type="text" class="form__input">
      <textarea name="" id="" cols="30" rows="10" class="form__textarea"></textarea>
      <button class="form__submit">SEND</button>
    </form>
    <article class="footer__info">
      <ul class="info__list">
        <li class="info__list-item">Lorem ipsum dolor sit amet.</li>
        <li class="info__list-item">Lorem ipsum dolor sit amet.</li>
        <li class="info__list-item">Lorem ipsum dolor sit amet.</li>
        <li class="info__list-item">Lorem ipsum dolor sit amet.</li>
      </ul>
      <div class="links"></div>
    </article>
  </footer>
</body>

</html>