<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../layout/static/styles/styles.css">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <div class="header__wrapper container">
      <article class="header__container">
        <h2 class="header__title">Product name</h2>
        <ul class="header__list">
          <li class="header__list-item">Put on this page information about your product</li>
          <li class="header__list-item">A detailed description of your product</li>
          <li class="header__list-item">Tell us about the advantages and merits</li>
          <li class="header__list-item">Associate the page with the payment system</li>
        </ul>
      </article>
      <img src="../layout/static/images/header-img.jpg" alt="header-img" class="header__img">
    </div>
  </header>
  <section class="about">
    <div class="about__wrapper container">
      <article class="about__container">
        <h2 class="about__title">About your product</h2>
        <p class="about__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolor sunt culpa
          ab,
          sed totam corporis aspernatur odio provident nam. Cum provident et, amet vitae rerum, eaque nam neque facere
          qui
          doloremque ipsa dolorem debitis! Magni dignissimos perspiciatis in aut?</p>
        <p class="about__content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda dolor sunt culpa
          ab,
          sed totam corporis aspernatur odio provident nam. Cum provident et, amet vitae rerum, eaque nam neque facere
          qui
          doloremque ipsa dolorem debitis! Magni dignissimos perspiciatis in aut?</p>
      </article>
      <img src="../layout/static/images/header-img.jpg" alt="about-img" class="about__img">
    </div>
  </section>
  <section class="products">
    <div class="products__wrapper container">
      <h1 class="products__title">Dignity and pluses product</h1>
      <div class="products__content-container">
        <p class="products-item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
          placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam,
          dolore minus inventore.</p>
        <p class="products-item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
          placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam,
          dolore minus inventore.</p>
        <p class="products-item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
          placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam,
          dolore minus inventore.</p>
        <p class="products-item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
          placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam,
          dolore minus inventore.</p>
        <p class="products-item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
          placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam,
          dolore minus inventore.</p>
        <p class="products-item">Delectus dolorem vero quae beatae quasi dolor deserunt iste amet atque, impedit iure
          placeat, ullam. Reprehenderit aliquam, nemo cum velit ratione perferendis quas, maxime, quaerat porro totam,
          dolore minus inventore.</p>
      </div>
    </div>
  </section>
  <section class="screenshots">
    <div class="screenshots__wrapper container">
      <h1 class="screenshots__title">Screenshots</h1>
      <div class="screenshots__container">
        <figure class="screenshots__figure">
          <img src="../layout/static/images/header-img.jpg" alt="figure-img" class="figure__img">
          <figurecaption>
            <h4 class="figure__title">The description for the image</h4>
            <p class="figure__content">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
              exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde
              perferendis nemo debitis dolor.</p>
          </figurecaption>
        </figure>
        <figure class="screenshots__figure">
          <img src="../layout/static/images/header-img.jpg" alt="figure-img" class="figure__img">
          <figurecaption>
            <h4 class="figure__title">The description for the image</h4>
            <p class="figure__content">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
              exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde
              perferendis nemo debitis dolor.</p>
          </figurecaption>
        </figure>
        <figure class="screenshots__figure">
          <img src="../layout/static/images/header-img.jpg" alt="figure-img" class="figure__img">
          <figurecaption>
            <h4 class="figure__title">The description for the image</h4>
            <p class="figure__content">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
              exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde
              perferendis nemo debitis dolor.</p>
          </figurecaption>
        </figure>
        <figure class="screenshots__figure">
          <img src="../layout/static/images/header-img.jpg" alt="figure-img" class="figure__img">
          <figurecaption>
            <h4 class="figure__title">The description for the image</h4>
            <p class="figure__content">Pariatur iure ab sunt nesciunt, quibusdam odio iste cumque itaque, ipsa vel
              exercitationem ullam quos aut nostrum cupiditate fuga quaerat quam animi dolores. Sequi itaque, unde
              perferendis nemo debitis dolor.</p>
          </figurecaption>
        </figure>
      </div>
    </div>
  </section>
  <section class="reviews">
    <div class="reviews__wrapper container">
      <h1 class="reviews__title">Reviews</h1>
      <div class="reviews__container">
        <article class="reviews__message">
          <img src="../layout/static/images/header-img.jpg" alt="message-img" class="message__img">
          <p class="message__content">Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio,
            iste quia doloribus autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente
            necessitatibus commodi consectetur? <span class="message__author">Lourens S.</span></p>

        </article>
        <article class="reviews__message">
          <img src="../layout/static/images/header-img.jpg" alt="message-img" class="message__img">
          <p class="message__content">Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio,
            iste quia doloribus autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente
            necessitatibus commodi consectetur? <span class="message__author">Lourens S.</span></p>

        </article>
        <article class="reviews__message">
          <img src="../layout/static/images/header-img.jpg" alt="message-img" class="message__img">
          <p class="message__content">Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio,
            iste quia doloribus autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente
            necessitatibus commodi consectetur? <span class="message__author">Lourens S.</span></p>

        </article>
        <article class="reviews__message">
          <img src="../layout/static/images/header-img.jpg" alt="message-img" class="message__img">
          <p class="message__content">Porro officia cumque sint deleniti nemo facere rem vitae odit inventore cum odio,
            iste quia doloribus autem aperiam nulla ea neque reprehenderit. Libero doloribus, possimus officiis sapiente
            necessitatibus commodi consectetur? <span class="message__author">Lourens S.</span></p>

        </article>
      </div>
    </div>
  </section>
  <section class="prices">
    <div class="prices__wrapper container">
      <h1 class="prices__title">Buy it now</h1>
      <div class="prices__container">
        <article class="prices__box">
          <h4 class="box__title">Standart</h4>
          <h4 class="box__value">$100</h4>
          <ol class="box__list">
            <li class="box__item">Porro officia cumque sint deleniti</li>
            <li class="box__item">Тemo facere rem vitae odit</li>
            <li class="box__item">Cum odio, iste quia doloribus autem</li>
            <li class="box__item">Aperiam nulla ea neque.</li>
          </ol>
          <a href="#" class="box__button">BUY</a>
        </article>
        <article class="prices__box">
          <h4 class="box__title">Premium</h4>
          <h4 class="box__value">$150</h4>
          <ol class="box__list">
            <li class="box__item">Porro officia cumque sint deleniti</li>
            <li class="box__item">Тemo facere rem vitae odit</li>
            <li class="box__item">Cum odio, iste quia doloribus autem</li>
            <li class="box__item">Aperiam nulla ea neque.</li>
            <li class="box__item">Porro officia cumque sint deleniti</li>
            <li class="box__item">Тemo facere rem vitae odit</li>
            <li class="box__item">Cum odio, iste quia doloribus autem</li>
            <li class="box__item">Aperiam nulla ea neque.</li>
          </ol>
          <a href="#" class="box__button">BUY</a>
        </article>
        <article class="prices__box">
          <h4 class="box__title">Lux</h4>
          <h4 class="box__value">$200</h4>
          <ol class="box__list">
            <li class="box__item">Porro officia cumque sint deleniti</li>
            <li class="box__item">Тemo facere rem vitae odit</li>
            <li class="box__item">Cum odio, iste quia doloribus autem</li>
            <li class="box__item">Aperiam nulla ea neque.</li>
            <li class="box__item">Porro officia cumque sint deleniti</li>
            <li class="box__item">Тemo facere rem vitae odit</li>
            <li class="box__item">Cum odio, iste quia doloribus autem</li>
            <li class="box__item">Aperiam nulla ea neque.</li>
            <li class="box__item">Porro officia cumque sint deleniti</li>
            <li class="box__item">Тemo facere rem vitae odit</li>
            <li class="box__item">Cum odio, iste quia doloribus autem</li>
            <li class="box__item">Aperiam nulla ea neque.</li>
          </ol>
          <a href="#" class="box__button">BUY</a>
        </article>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer__wrapper container">
      <h2 class="footer__title">Contacts</h2>
      <div class="footer__container">
        <form action="" class="footer__form">
          <input type="text" class="form__input" placeholder="Your name: ">
          <input type="text" class="form__input" placeholder="Your email: ">
          <textarea name="" id="" cols="30" rows="5" class="form__textarea" placeholder="Your message: "></textarea>
          <button class="form__submit">SEND</button>
        </form>
        <article class="footer__info">
          <ul class="info__list">
            <li class="info__list-item">here_your_login_skype</li>
            <li class="info__list-item">279679659</li>
            <li class="info__list-item">psdhtmlcss@mail.ru</li>
            <li class="info__list-item">80 00 4568 55 55</li>
          </ul>
          <div class="footer__links">
            <a href="#" class="footer__link"></a>
            <a href="#" class="footer__link"></a>
            <a href="#" class="footer__link"></a>
            <a href="#" class="footer__link"></a>
          </div>
        </article>
      </div>
    </div>
  </footer>
</body>

</html>